@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: bold;
  text-decoration: underline;
}
/* Hide scrollbar but allow scrolling */
body {
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

body {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;     /* For Firefox */
}
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
   max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
}

.home-content h2 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-family: 'Kanit', sans-serif;
    margin: 10px 0 15px 0;
    line-height: 1.2;
    font-size: 16px;
}

.home-content .btn-box {
    width: 345px;
    height: 50px;
}




.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}
