#container {
    width: 900px;
    background-color: #6096ab;
    margin: 0 auto;
    overflow: hidden;
    position:relative;
    align-content: center;
    align-self: center;
    
}
body {
    background-color: #0E3659;
    font-family: Arial;
}
section p{
    padding-bottom: 10px;
    padding-left: 5px;
    
}
h2 {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #56b5da;
    padding-left: 10px;
    border-color: #0E3659;
    border: 1px;
    border-style: solid;
    
    
}
h3 {
    padding-left: 5px;
}
nav {
    
    padding-top: 10px;
    text-align: center;
    
}
nav a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;

}
nav a:hover {
    color: #0E3659;
}
footer{
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #1BB5F2;
    background-color: #072037;
}
.image-container {
    position: relative;
    width: 1000px;
    height: 426px;
    overflow: hidden;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-right: 100px;
    transform: translate(-57%, -50%);
    font-size: 24px;
    background-color: rgba(161, 239, 255, 0.7); /* Adjust the opacity as needed */
    color: black;
    text-align: center; /* Center-align the text */
    padding: 10px; /* Add some padding around the text */
  
    /* Add text shadow */
    text-shadow: 2px 2px 4px #FFFFFF;
  }
  
.maze_img{
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 85px;
    border: #072037 5px;
    border-style: solid;
    margin-top: 10px;
    background-color: #0E3659;
    
}
.fsu_img{
    margin-top: 15px;
    border: 5px;
    border-style: solid;
    border-color: aliceblue;
    background-color: #072037;
    margin-bottom: 50px;
    
}
.text{
    float: left; /* Float the text to the left */
    margin-right: 70px; /* Add some space between text and image */

  }
  .textright{
    float: right; /* Float the text to the left */
    margin-right: 500px; /* Add some space between text and image */


  }
  .textleft{
    float: left; /* Float the text to the left */
    margin-right: 20px; /* Add some space between text and image */

  }
blockquote {
    font-size: 15px;
    
    
}
.navbar {
    position: fixed;
    word-spacing: 2px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(27,181,242, .85);
    background-color: .8;
    border: rgb(0, 0, 0) 2px;
    border-style: solid;
    padding: 10px;
    z-index: 9999;
  }

  /* Additional styles for demonstration purposes */
  .content {
    padding-top: 50px; /* Adjust padding to avoid content overlap */
  }
