* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fafbfc;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e2125;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  line-height: 1.45;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

body {
   font-family: Arial, Helvetica, sans-serif;
    background-color: #1e2125;
    margin-bottom: 50px;
}

.main_container {
    padding: 4px;
    background-color: #1c1f23;
    margin:4px;
}

.nav_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #252b31;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-family: "Source Code Pro", serif;
    font-size: 32px;
    color: #fafbfc;
    text-decoration: none;
    font-weight: 600;
}

.navigation a {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
}

.navigation a:hover {
    color: rgba(255, 255, 255, 0.1);
}
.navigation .active {
    text-shadow: 0 0 0.4em #5adeff;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.004em);
}
.navigation .active:hover {
    filter: none !important;
    text-shadow: 0 0 0 0.1em #56bde1;
}
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
   max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
}

.home-content h2 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-family: 'Kanit', sans-serif;
    margin: 10px 0 15px 0;
    line-height: 1.2;
    font-size: 16px;
}

.home-content .btn-box {
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: transparent;
    border: 2px solid #00abf0;
    border-radius: 5px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: 10px;
    z-index: 1;
}
/* styles.css */
.btn-box a:nth-child(2) {
   background-color: transparent;
}

.btn-box a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: 3s;
}

.btn-box a:hover:before {
    width: 100%;
    background-color: #00abf0;
}

/* Code editor container */
.code-editor {
    border: 3px solid #1e252f;
    background-color: #1a1f25;
    padding: 10px;
    display: flex;
    font-family: 'Source Code Pro', Courier, monospace;
    margin: 10px 0 10px 0;
}

/* Line numbers container */
.line-numbers {
    counter-reset: line;
    padding-right: 10px;
    text-align: right;
    width: 10%;
}

/* Line number styling */
.line-numbers div {
    counter-increment: line;
    line-height: 1.6em;
}

/* Code lines container */
.code-lines {
    flex-grow: 1;
}

.syntax_highlight_keyword {
    color: #00abf0;

}

/* Code line styling */
.code-line {
    padding-left: 10px;
    line-height: 1.6em;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

/* Styling for the paragraph displaying editor content */
#editor-content {
    margin-top: 20px; /* Adjust spacing as needed */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
#education {
    margin-top: 30px;
    background-color: #282b2f;
    height: 100vh;
    border-radius: 10px;
}
.education-content {
    padding: 30px;
}
.education-content h1 {
    font-size: 32px;
    font-weight: 700;
}
.run-btn {
    margin: 10px 0 10px 0;
}

.run-btn a {
    background-color: #1e252f;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.run-btn a:hover {
    background-color: rgba(0, 0, 0, .4);
}

#education-output {
    display: none;
    width: 100%;
    padding: 20px;
    border: 1px solid #1a1f25;
    background-color: #1e252f;
}
#education-output h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
#education-output .fsu-info {
    width: 100%;
    padding: 10px;
}

#education-output p {
    margin-bottom: 10px;
    font-family: 'Kanit', sans-serif;
}

.fsu-info h4 {
    font-size: 22px;
}
#education-output ul  {
    padding-top: 15px;
    margin-bottom: 50px;
}

#education-output li {
    float: left;
    list-style-type: none;
    font-size: 15px;
    padding: 7px;
    background: #1a1f25;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#work {
    margin-top: 30px;
    background-color: #23282d;
    border-radius: 10px;
    padding-bottom: 20px;
}
#work h1 {
    font-size: 32px;
    font-weight: 600;
}
.work-content {
    padding: 30px;
}
#work .exp-1{
   background-color: #1a1f25;
    padding: 20px;
    margin: 0 30px 30px 30px;
}
.exp-1 h2{
}
#cursor {
    display: inline-block;
    visibility: visible;
    animation: blink-animation 1.5s step-end infinite;
}

@keyframes blink-animation {
    50% { visibility: hidden; }
}

#work .exp-2 {
    background-color: #1a1f25;
    padding: 20px;
    margin: 30px;
}
#work .code-editor {
    margin-top: 15px;
    background-color: #1e2125;
}
.syntax_green {
    color: greenyellow;
}

#projects {
    margin-top: 30px;
    background-color: #1f2225;
    border-radius: 10px;
    height: fit-content;
}
#projects h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.projects-content {
    padding: 30px;
    height: 550px;
    margin-bottom: 50px;
}

.projects-content ul {
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: #1a1f25;
    list-style-type: none;
    height: 500px;
}

.projects-content li {
    list-style: none;
    margin-right: 10px;
}

* li {
    list-style-type: none;
}

li * {
    list-style-type: none;
}

a {
   text-decoration: none;
}


.projects-items {
    height: 430px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-decoration: none;

    .card {
        display: inline-block;
    }
}

li h1 {
    text-align: center;
}

.card {
}

.card .code-editor{
    margin-top: 20px;
    font-size: 15px;
    height: fit-content;
    width: 450px;
    background-color: #242a31;
    margin-right: 10px;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    list-style-type: none;
}
.card .code-editor .code-lines {
    width: 20px;
}
.bg_blue {
    color: #46b2d0;
}


.projects-content h1 {
    margin-bottom: 20px;
}

.projects-content p {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #313438;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}
.skills {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 15px;
    }
    .main_container {
        padding: 0;
        margin: 0;
    }
    .navigation a{
        font-size: 18px;
        margin-right: 0;
    }
    .logo {
        font-size: 25px;
        margin-right: 10px;
    }
    .home-content h1 {
        font-size: 2em;
    }
    .home-content h2 {
        font-size: 1.5em;
    }
    .home-content {
        width: 100%;
    }
    .btn-box a{
        width: 120px;
    }
    .code-editor {
        font-size: 15px;
    }

    .projects-content {
        margin: 10px;
        padding: 10px;
    }
    #education {
        height: 150vh;
    }
    #education-output {
        height: 450px;
    }

    #education-output h3 {}
    #education-output .fsu-info {
        font-size: 20px;
    }
    #education-output ul li {
       margin-bottom: 10px;
    }

    .fsu-info {
        font-size: medium;
    }

    .education-content {
        padding: 5px;
    }

    .education-content .code-editor {
        width: 100%;
    }
    .run-btn {
        width: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

}
